<div class="main-content">
    <div class="section-content section-content-p30">
        <div *ngIf="!searchFlag; else elseBlock">
            <h4>Category:  {{currentCategoryName}} </h4>
            <hr>
        </div>
        <ng-template #elseBlock>
            <h4>Search:  {{searchText}} </h4>
            <hr>  
        </ng-template>
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let product of products" class ="col-md-3">

                    <div class="product-box">
                        <a routerLink="/products/{{ product.id }}" > <img src="{{ product.imageUrl }}" class="img-responsive"></a>
                        <a routerLink="/products/{{ product.id }}" > <h1>{{ product.name }}</h1></a>
                        <div class="price">{{ product.unitPrice | currency:'INR' }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12">
                    No Products found!
                </div>
            </div>
        </div>
    </div>
</div>